<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href= <%= root_path %> >Student Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%= subjects_path %>>Subjects</a>
        </li>

<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->

        <% if signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User: <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><a class="dropdown-item" href=<%= new_question_path %>>Create Questions</a></li>
                <li><a class="dropdown-item" href=<%= requests_path %>>Requests</a></li>

              <% else %>
                <li><a class="dropdown-item" href=<%= requests_path %>>My Requests</a></li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, class: "nav-link active", data: {turbo_method: :delete}%>
          </li>
        <% end %>

      </ul>


    </div>
  </div>
</nav>